body {
    background-color: #f8f8f8;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 150px;
    background-image: url("catalog/img/background.jpg") ;
    background-size: cover;
}

.logo {
    width: 170px;
    height: 110px;
    outline: 1px solid darkred;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
}
.footer_container{
    height: 60px;
    background-color: gray;

}
.footer{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.menu {
    font-size: 120%;
    text-align: center;
    font-weight: 600;
    font-family: "Times New Roman", serif, Verdana;
    list-style-type: none;
    padding-inline-start: 0;
    float: right;
    margin-right: 10px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: lightpink;
    text-decoration: none;
}

.menu li a:hover {
    color: darkred;
}

.menu li a:active {
    color: fuchsia;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.name {
    color: darkred;
}

.form {
    text-align: center;
    font-size: medium;
    font-family: "Times New Roman", serif, Verdana;
}

.product_list{
    width: 30%;
    height: 300px;
    display: inline-block;
}

input,
textarea {
    color: darkblue;
    font-size: medium;
    width: auto;
    height: auto;
    font-family: "Times New Roman", serif, Verdana;
    font-weight: 500;
}

textarea:focus, input:focus {
    color: darkred;
    background-color: mistyrose;
    text-transform: capitalize;
}

input, textarea {
    color: darkred;
    text-transform: capitalize;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


img[alt="dzhuletta"],
img[alt="Juliet"] {
    outline: 3px solid peachpuff;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="dzhuletta"]:hover,
img[alt="Juliet"]:hover,
img[alt="black"]:hover,
img[alt="rose-black-prince"]:hover,
img[alt="sunlight"]:hover,
img[alt="sun"]:hover {
    outline: none;
}

img[alt="black"],
img[alt="rose-black-prince"] {
    outline: 3px solid darkred;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt="sunlight"],
img[alt="sun"] {
    outline: 3px solid wheat;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list {
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

.list li {
    list-style: none;
    background: url("catalog/img/mark.jpg") no-repeat 0 5px;
    background-size: 16px;
    padding-left: 20px;
    line-height: 1.3em;
}

.link {
    text-decoration: none;
    color: darkred;
    text-align: center;
    list-style-type: none;
    font-size: 120%;
    font-weight: 600;
    font-family: "Times New Roman", serif, Verdana;
}

.link li a {
    color: lightpink;
    text-decoration: none;
}

h1,
h2,
h3,
p {
    text-align: center;
    color: black;
}

.text:first-letter,
.description:first-letter,
.full_description:first-letter {
    font-size: 25px;
    color: darkred;
    font-family: Bahnschrift, sans-serif;
}

.table {
    border: 1px solid darkred;
    width: 600px;
    height: 300px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
}

.title {
    height: 35px;
}

