body{
    background-color: #f8f8f8;
}
.menu {
    color: darkred;
    font-size: 120%;
    text-align: center;
    font-weight: 600;
    font-family: "Times New Roman", serif, Verdana;
    list-style-type: none;
    padding-inline-start: 0;
}
.menu li a{
    color: lightpink;
    text-decoration: none;
}
.menu li a:hover {
    color: darkred;
}
.menu li a:active{
    color: #ffa9fa;
}
.logo {
    position: relative
}
.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.name{
    color: darkred;
}
.form{
    text-align: left;
    padding-left:600px;
    font-size: medium;
    font-family: "Times New Roman", serif, Verdana;
    }
input,
textarea{
    color: darkblue;
    font-size: medium;
    width: auto;
    height: auto;
    font-family: "Times New Roman", serif, Verdana;
    font-weight: 500;
}
textarea:focus, input:focus {
    color: darkred;
    background-color: mistyrose;
    text-transform: capitalize;
}
input, textarea{
    color: darkred;
    text-transform: capitalize;
}
.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.description{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.full_description{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
img[alt="logo"] {
    outline: 1px solid #f8f8f8;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt="dzhuletta"],
img[alt="Juliet"] {
     outline: 3px solid peachpuff;
     text-align: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
img[alt="black"],
img[alt="rose-black-prince"] {
    outline: 3px solid darkred;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt="sunlight"],
img[alt="sun"] {
    outline: 3px solid wheat;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list{
    font-family: Calibri, sans-serif;
    font-size: 18px;
}
.list li {
    list-style: none;
    background: url("catalog/img/mark.jpg") no-repeat 0 5px;
    background-size: 16px;
    padding-left:20px;
    line-height:1.3em;
}
.link{
    text-decoration: none;
    color: darkred;
    text-align: center;
    list-style-type: none;
    font-size: 120%;
    font-weight: 600;
    font-family: "Times New Roman", serif, Verdana;
}
.link li a{
    color: lightpink;
    text-decoration: none;
}
h1,
h2,
h3,
p{
    text-align: center;
    color: black;
}

.text:first-letter,
.description:first-letter,
.full_description:first-letter {
    font-size: 25px;
    color: darkred;
    font-family: Bahnschrift, sans-serif;
}

.table {
    border: 1px solid darkred;
    width: 600px;
    height: 300px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.table td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
}
.title {
    height: 35px;
}